.boulder-grid {
  width: 100%;
  height: auto;
  padding: 2px;
  overflow: auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  gap: 20px;

  &__search-bar {
    position: absolute;
    top: 80px;
  }

  &__rows {
    height: 100%;
    display: grid;
    gap: 25px;
    grid-auto-rows: min-content;
  }
}
