.input {
  height: 50px;
  font-size: 18px;
  padding: 0px 16px;
  font: var(--gbb-font-default);
  width: 500px;
  border-radius: var(--gbb-radius-default);
  border: none;
  outline: none;

  &::placeholder {
    font-size: 18px;
    opacity: 0.5;
  }
}
