.boulder-header-row {
  &--header {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--gbb-color-dark);
  }

  &__cells {
    display: grid;
    gap: 2px;
    margin-left: 20%;
    grid-template-columns: repeat(4, 1fr);
  }

  &__cell {
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow: hidden;
    border: none;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 14px 10px;
  }
}
