.boulder-header-row {
  margin: 0 20%;
  height: 40px;

  &--header {
    font-weight: bold;
    background-color: var(--gbb-color-white);
  }

  &__cells {
    display: grid;
    margin-left: 20%;
    grid-template-columns: repeat(4, 1fr);
  }

  &__cell {
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow: hidden;
    border: none;
  }
}
