table {
  font-family: "Helvetica", Verdana, Tahoma, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4da85a;
  color: white;
}
.addIcon {
  display: inherit;
  float: right;
  color: #4da85a;
  cursor: pointer;
}
.deleteIcon {
  display: inherit;
  float: right;
  color: red;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 5px;
}
.area-form {
  display: flex;
  float: left;
  width: 30%;
}
.form-control input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.searchError {
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
